/* ---------------------
  Grays
---------------------- */
.gray-dark h2 {
	color:#00a5bd;
}
.gray-dark h3,
.gray-dark h4,
.gray-dark h5 {
	color:#8d959a;
}
.gray-dark,
.gray-dark p {
	color:#fff;
}
.gray-dark blockquote,
.gray-dark blockquote p {
	color:#b5babe;
}
.gray-dark blockquote p span:before,
.gray-dark blockquote span:before {
  color:#464e54;
}
.gray-dark p a.button {
	border-color:rgba(255, 255, 255, .5);
	color:#fff;
}
.gray-dark p a.button:hover,
.gray-dark p a.button:focus {
	border:1px solid #fff;
	color:#fff;
}
.gray-dark p a.button.cta {
	background:#b67233;
	color:#fff;
	border:1px solid #b67233;
}
.gray-dark p a.button.cta:hover,
.gray-dark p a.button.cta:focus {
	background:#925b29;
	border:1px solid #925b29;
}
.gray-med h2 {
	color:#cbc4a2;
}
.gray-med h3,
.gray-med h4,
.gray-med h5 {
	color:#b5bABE;
}
.gray-med,
.gray-med p {
	color:#fff;
}
.gray-med blockquote,
.gray-med blockquote p {
	color:#d7dadb;
}
.gray-med blockquote p span:before,
.gray-med blockquote span:before {
  color:#2a3033;
}
.gray-med p a.button {
	border-color:rgba(255, 255, 255, .5);
	color:#fff;
}
.gray-med p a.button:hover,
.gray-med p a.button:focus {
	border:1px solid #fff;
	color:#fff;
}
.gray-med p a.button.cta {
	background:#b67233;
	color:#fff;
	border:1px solid #b67233;
}
.gray-med p a.button.cta:hover,
.gray-med p a.button.cta:focus {
	background:#925b29;
	border:1px solid #925b29;
}
.gray-light h2 {
	color:#fff;
}
.gray-light h3,
.gray-light h4, 
.gray-light h5 {
	color:#cbc4a2;
}
.gray-light,
.gray-light p {
	color:#fff;
}
.gray-light blockquote,
.gray-light blockquote p {
	color:#eff0f1;
}
.gray-light blockquote p span:before,
.gray-light blockquote span:before {
  color:#464e54;
}
.gray-light p a.button {
	border-color:rgba(255, 255, 255, .5);
	color:#fff;
}
.gray-light p a.button:hover,
.gray-light p a.button:focus {
	border:1px solid #fff;
	color:#fff;
}
.gray-light p a.button.cta {
	background:#b67233;
	color:#fff;
	border:1px solid #b67233;
}
.gray-light p a.button.cta:hover,
.gray-light p a.button.cta:focus {
	background:#925b29;
	border:1px solid #925b29;
}
.gray-lightest h2 {
	color:#f6861f;
}
.gray-lightest h3,
.gray-lightest h4,
.gray-lightest h5 {
	color:#d7dadb;
}
.gray-lightest,
.gray-lightest p {
	color:#fff;
}
.gray-lighest blockquote,
.gray-lighest blockquote p {
	color:#fff;
}
.gray-lighest blockquote p span:before,
.gray-lighest blockquote span:before {
	color:rgba(94, 106, 113, .6);
}
.gray-lightest p a.button {
	border-color:rgba(255, 255, 255, .5);
	color:#fff;
}
.gray-lightest p a.button:hover,
.gray-lightest p a.button:focus {
	border:1px solid #fff;
	color:#fff;
}
.gray-lightest p a.button.cta {
	background:#b67233;
	color:#fff;
	border:1px solid #b67233;
}
.gray-lightest p a.button.cta:hover,
.gray-lightest p a.button.cta:focus {
	background:#925b29;
	border:1px solid #925b29;
}
/* ---------------------
  Tans
---------------------- */
.tan-dark blockquote,
.tan-dark blockquote p {
	color:#fff;
}
.tan-dark blockquote p span:before,
.tan-dark blockquote span:before {
	color:#fff;
}
.tan-dark p a.button {
	border-color:rgba(182, 114, 51, 1);
	color:#925b29;
}
.tan-dark p a.button:hover,
.tan-dark p a.button:focus {
	border:1px solid #925b29;
	color:#925b29;
}
.tan-dark p a.button.cta {
	background:#b67233;
	color:#fff;
}
.tan-dark p a.button.cta:hover,
.tan-dark p a.button.cta:focus {
	background:#925b29;
	border:1px solid #925b29;
}
.tan-light blockquote,
.tan-light blockquote p {
	color:#ddbea1;
}
.tan-light blockquote p span:before,
.tan-light blockquote span:before {
	color:#6d441f;
}
.tan-light p a.button {
	border-color:rgba(182, 114, 51, 1);
	color:#925b29;
}
.tan-light p a.button:hover,
.tan-light p a.button:focus {
	border:1px solid #925b29;
	color:#925b29;
}
.tan-light p a.button.cta {
	background:#b67233;
	color:#fff;
}
.tan-light p a.button.cta:hover,
.tan-light p a.button.cta:focus {
	background:#925b29;
	border:1px solid #925b29;
}