/* ============================================================
  WSU COLOR PALETTE OPTIONS
============================================================ */
/* .wsu-palette-palette1 is crimson, .wsu-palette3,and 4 is gray called in from the main style sheet */
body.wsu-palette-palette2 .header-group  {
	background-color: #8d959a;
}

body.wsu-palette-palette2 .header-group sub h1 {
	color: #fff;
}

body.wsu-palette-palette2 .dropcap:first-child:first-letter {
	color: #8d959a;
}

/* Default (white with crimson) */
body.wsu-palette-palette5 .header-group {
	background-color: #fff;
}

body.wsu-palette-palette5 .header-group sub h1 {
	color: #981e32;
}

body.wsu-palette-palette5 .dropcap:first-child:first-letter {
	color: #981e32;
}
/* ---------------------
  Grays
---------------------- */
.gray-dark h2 {
	color:#ada400;
}
.gray-dark h3,
.gray-dark h4,
.gray-dark h5 {
	color:#8d959a;
}
.gray-dark,
.gray-dark p {
	color:#fff;
}
.gray-dark blockquote,
.gray-dark blockquote p {
	color:#b5babe;
}
.gray-dark blockquote p span:before,
.gray-dark blockquote span:before {
  color:#464e54;
}
.gray-dark p a.button {
	border-color:rgba(255, 255, 255, .5);
	color:#fff;
}
.gray-dark p a.button:hover,
.gray-dark p a.button:focus {
	border:1px solid #fff;
	color:#fff;
}
.gray-dark p a.button.cta {
	background-color:#edf3f4;
	color:#fff;
	border:#edf3f4;
}
.gray-dark p a.button.cta:hover,
.gray-dark p a.button.cta:focus {
	background-color:#fff;
	border:#fff;
}
.gray-med h2 {
	color:#ada400;
}
.gray-med h3,
.gray-med h4,
.gray-med h5 {
	color:#b5bABE;
}
.gray-med,
.gray-med p {
	color:#fff;
}
.gray-med blockquote,
.gray-med blockquote p {
	color:#d7dadb;
}
.gray-med blockquote p span:before,
.gray-med blockquote span:before {
  color:#2a3033;
}
.gray-med p a.button {
	border-color:rgba(255, 255, 255, .5);
	color:#fff;
}
.gray-med p a.button:hover,
.gray-med p a.button:focus {
	border:1px solid #fff;
	color:#fff;
}
.gray-med p a.button.cta {
	background-color:#edf3f4;
	color:#fff;
	border:#edf3f4;
}
.gray-med p a.button.cta:hover,
.gray-med p a.button.cta:focus {
	background-color:#fff;
	border:#fff;
}
.gray-light h2 {
	color:#fff;
}
.gray-light h3,
.gray-light h4, 
.gray-light h5 {
	color:#d7dadb;
}
.gray-light blockquote,
.gray-light blockquote p {
	color:#eff0f1;
}
.gray-light blockquote p span:before,
.gray-light blockquote span:before {
  color:#464e54;
}
.gray-light p a.button {
	border-color:rgba(255, 255, 255, .5);
	color:#fff;
}
.gray-light p a.button:hover,
.gray-light p a.button:focus {
	border:1px solid #fff;
	color:#fff;
}
.gray-light p a.button.cta {
background-color:#edf3f4;
	color:#fff;
	border:#edf3f4;
}
.gray-light p a.button.cta:hover,
.gray-light p a.button.cta:focus {
	background-color:#fff;
	border:#fff;
}
.gray-lightest h2 {
	color:#fff;
}
.gray-lightest h3,
.gray-lightest h4,
.gray-lightest h5 {
	color:#d7dadb;
}
.gray-lightest blockquote,
.gray-lightest blockquote p {
	color:#fff;
}
.gray-lightest blockquote p span:before,
.gray-lightest blockquote span:before {
	color:rgba(94, 106, 113, .6);
}
.gray-lightest p a.button {
	border-color:rgba(255, 255, 255, .5);
	color:#fff;
}
.gray-lightest p a.button:hover,
.gray-lightest p a.button:focus {
	border:1px solid #fff;
	color:#fff;
}
.gray-lightest p a.button.cta {
	background-color:#edf3f4;
	color:#fff;
	border:#edf3f4;
}
.gray-lightest p a.button.cta:hover,
.gray-lightest p a.button.cta:focus {
	background-color:#fff;
	border:#fff;
}
/* ---------------------
  Tans
---------------------- */
.tan-dark blockquote,
.tan-dark blockquote p,
.tan-dark blockquote cite {
	color:#fff;
}
.tan-dark blockquote p span:before,
.tan-dark blockquote span:before {
	color:#fff;
}
.tan-dark p a.button {
	border-color:rgba(141, 149, 154, .5);
	color:#5e6a71;
}
.tan-dark p a.button:hover,
.tan-dark p a.button:focus {
	border:1px solid #5e6a71;
	color:#5e6a71;
}
.tan-dark p a.button.cta {
	background:#8d959a;
	color:#fff;
	border:1px solid #5e6a71;
}
.tan-dark p a.button.cta:hover,
.tan-dark p a.button.cta:focus {
	background:#5e6a71;
	border:1px solid #5e6a71;
}
.tan-light blockquote,
.tan-light blockquote p,
.tan-light blockquote cite {
	color:#ddbea1;
}
.tan-light blockquote p span:before,
.tan-light blockquote span:before {
	color:#6d441f;
}
.tan-light p a.button {
	border-color:rgba(141, 149, 154, .5);
	color:#5e6a71;
}
.tan-light p a.button:hover,
.tan-light p a.button:focus {
	border:1px solid #5e6a71;
	color:#5e6a71;
}
.tan-light p a.button.cta {
	background:#8d959a;
	color:#fff;
	border:1px solid #5e6a71;
}
.tan-light p a.button.cta:hover,
.tan-light p a.button.cta:focus {
	background:#5e6a71;
	border:1px solid #5e6a71;
}
/* white */
.white blockquote,
.white blockquote p {
	color:#Ada400;
}
.white blockquote cite {
	color:#Afa370;
}
.white blockquote p span:before,
.white blockquote span:before {
	color:rgba(227, 223, 205, .6);
}
.white p a.button {
	border-color:rgba(141, 149, 154, .5);
	color:#5e6a71;
}
.white p a.button:hover,
.white p a.button:focus {
	border:1px solid #5e6a71;
	color:#5e6a71;
}
.white p a.button.cta {
	background:#8d959a;
	color:#fff;
	border:1px solid #5e6a71;
}
.white p a.button.cta:hover,
.white p a.button.cta:focus {
	background:#5e6a71;
	border:1px solid #5e6a71;
}
