/* Static structure styles */
body,
html,
#jacket,
#binder,
.home #binder:not(.fluid).max-1188,
.home #binder:not(.fluid).max-1188 .row,
.home .page,
.home main {
	margin: 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
}

.home .ip-headline,
.home .main-header:not(.gutter) .header-group:not(.unset):not(.guttered),
.home .main-header .header-group:not(.unset),
.home .main-footer,
#spine .spine-actions {
	display: none;
}

.home .main-header,
.main-header sup:not(.unset) {
	height: 50px;
	background-color: #2b3033;
	text-align: center;
	width: 100%;
}

.main-header-sitename .sup-header .sup-header-default {
	font-size: 2em;
	letter-spacing: 12px;
	padding-top: 10px;
}

.home .column {
	max-height: 100%;
	height: 100%;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.home main .page section {
	padding-top: 0;
	padding-bottom: 0;
}

.home .column:hover {
	width: 100%;
	cursor: pointer;
}

.home .column.crimson {
	background-image: url(../assets/img/campus-aerial-crimson-light.jpg);
}

.home .column.crimson:hover {
	background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../assets/img/campus-aerial-crimson-light.jpg);
}

.home .column.white {
	background-image: url(../assets/img/column-white.jpg);
	background-position-x: 43%;
}

.home .column.white:hover {
	background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), url(../assets/img/column-white.jpg);
}

.home .column.blue {
	background-image: url(../assets/img/students-butch-blue-2.jpg);
}

.home .column.blue:hover {
	background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url(../assets/img/students-butch-blue-2.jpg);
}

.home .column h2 {
	font-size: 364%;
	text-transform: uppercase;
	margin-top: 60%;
	color: #fff;
	transition: color 300ms linear;
}

.home .column.white h2 {
	color: #981e32;
}

.home .column.crimson:hover h2,
.home .column.blue:hover h2 {
	color: #b5babe;
}

.home .column.white:hover h2 {
	color: #8d959a;
}

.home .column h2 .light {
	font-weight: 300;
}

.home .column h2 .heavy {
	font-weight: 700;
}

.home main .column p {
	margin-bottom: 0;
}

/* Properties for all exposed button links in a home page panel */
.home main p a,
.home main p a:focus,
.home main .column:focus p a {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms linear;
	width: 66%;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1.3;
	text-transform: none;
	font-size: 1.5em;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
}

.home main .column:hover p a,
.home main .column.active-panel p a {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 100ms, opacity 300ms linear;
}

/* Default colors, backgrounds, and borders for each column's panel buttons */
.home main .crimson p a,
.home main .blue p a {
	color: #fff;
	background-color: rgba(0, 0, 0, .25);
}

.home main .crimson p a {
	border: 1px solid rgba(141, 149, 154, .65);
}

.home main .blue p a {
	border: 1px solid rgba(174, 199, 203, .5);
}

.home main .white p a {
	color: #981e32;
	border: 1px solid rgba(141, 149, 154, .5);
	background-color: rgba(255, 255, 255, .3);
}

/* Adjusted state for panel buttons when a parent panel is active or hovered */
.home main .crimson p a:hover,
.home main .crimson p a:focus,
.home main .blue p a:hover,
.home main .blue p a:focus {
	border-color: rgba(255, 255, 255, 1);
}

.home main .white p a.button:hover,
.home main .white p a.button:focus {
	border-color: rgba(152, 30, 50, 1);
}

.home-panels section.row .column {
	min-height: calc(95vh - 60px);
}

@media screen and (max-width: 490px) {

	.home-panels section.row .column {
		min-height: calc(95vh - 175%) !important;
	}
}

.news-home .news-to-head a {
	border: none;
}

.news-home .news-to-head {
	height: 40px;
	display: block;
	width: 100%;
	font-size: 25px;
	padding-top: 10px;
}

.news-home .news-to-head .strong {
	font-weight: 600;
}

.news-events {
	margin-left: auto;
	margin-right: auto;
}

.news-events .column header h2 {
	margin-top: 0;
	padding-top: 1em;
	color: #981e32;
}

.news-events a.more {
	font-size: 17px;
	font-weight: 300;
	margin-left: 28px;
	width: 92%;
}

.home .news-home .news-events.row.single .column.one.seventy-five_single {
	padding-bottom: 4em;
}

.home .news-home .news-events .content-item-title {
	font-size: 23px;
	color: #4f868e;
	font-weight: 500;
	width: 100%;
	display: block;
	padding-bottom: .5em;
}

.home .news-home .news-events .content-item-byline {
	display: none;
}

.home .news-home .news-events .content-item-excerpt {

}

.home .news-home .news-events .content-item-excerpt p {
	font-size: 16px;
	line-height: 32px;
	color: #5e6a71;
}

span.content-item-thumbnail {
	min-height: 100%;
	display: inline-block;
	float: left;
	padding-right: 1em;
}

span.content-item-thumbnail img {
	width: 150px;
}

a.content-item-read-story {
	border-bottom: 2px dotted #00a5bd !important;
	text-decoration: none;
	display: block;
	width: 13% !important;
	padding-bottom: 0 !important;
}

/* Width media queries */
@media screen and (min-width: 1800px) {

	.home .column h2 {
		margin-top: 30%;
	}
}

@media screen and (min-width: 990px) {

	.home #spine.cropped {
		left: calc((33.3% / 2 ) - 99px) !important;
	}
}

@media screen and (min-width: 791px) and (max-width: 990px) {

	.home .column h2 {
		margin-top: 30%;
	}

	#binder:not(.fluid) #spine button#shelve {
		display: none;
	}

	#binder #wsu-signature {
		background-position: 50%;
	}
}

@media screen and (max-width: 790px) {

	#binder:not(.fluid) #spine button#shelve {
		display: none;
	}

	#binder #wsu-signature {
		background-position: 50%;
	}

	.home section {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		box-sizing: border-box;
	}

	.home section.news-events {
		position: relative;
		height: 100% !important;
		overflow: visible;
	}

	.news-home p.news-to-head {
		font-size: 2.2em !important;
	}

	.home .column {
		width: 100%;
		display: block;
		flex: 1;
		padding: 0;
	}

	.home .column h2 {
		margin-top: 8%;
	}

	.home main .column.active-panel:after {
		position: absolute;
		bottom: 25px;
		content: "X";
		font-size: 2em;
		left: 48%;
	}

	.home main .news-home .column.active-panel:after {
		display: none;
	}

	.home .main-header,
	.main-header sup:not(.unset) {
		padding-top: 0;
		padding-bottom: 0;
		height: 55px;
	}

	.main-header-sitename .sup-header .sup-header-default {
		font-size: 1.1em;
		line-height: 1.2;
		word-wrap: break-word;

	}

	.home .column h2 {
		font-size: 240%;
	}

	.row.thirds .column.one,
	.row.thirds .column.two,
	.row.thirds .column.three {
		width: 100%;
	}
}

.size-lt-large .main-header-sitename {
	display: block;
	position: relative;
	top: 0;
}

@media screen and (max-width: 490px) {

	.news-events a.more {
		margin-left: 1.8em;
	}
}

/* Height media queries */
@media screen and (min-height: 801px ) and (max-height: 1100px) {

	.home main p a.button {
		font-size: .9em;
	}
}

@media screen and (max-height: 888px ) {

	.home .column h2 {
		margin-top: 40%;
	}
}

@media screen and (max-height: 800px ) {

	.home main p a.button {
		font-size: .8em;
		padding: 8px 4px;
	}
}

@media screen and (max-height: 650px ) {

	.home .column h2 {
		margin-top: 35%;
	}

	.column h2:first-child {
		padding: 0 0 5px;
	}
}

/* iPhone 4s, 5 and 6 Portrait (320px min for 4s and 5, 667px max for 6) */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

	.home .main-header {
		position: relative;
		top: 0;
		left: 0;
		z-index: 999;
	}

	.home main .page {
		top: 105px;
		bottom: 0;
		height: 100%;
	}

	.home main .column {
		height: 35%;
	}

	.home .column h2 {
		margin-top: 8%;
	}

	.home section {
		height: calc(100vh - 190px) !important;
	}

	.home main .column.active-panel {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		min-height: 85vh;
	}

	.home main .column:hover p a {
		visibility: hidden;
		opacity: 0;
	}

	.home main .column.active-panel:hover p a {
		visibility: visible;
		opacity: 1;
		font-size: 1.4em;
	}

	.home main .column.active-panel:after {
		bottom: 75px;
	}

	.home main .column p a.button:hover {
		margin-top: 0;
	}
}

/* iPhone 5 portrait specific overrides */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

	.home main .column.active-panel:after {
		bottom: 15px;
		font-size: 1.3em;
	}

	.home main .column p {
		font-size: .6rem;
	}

	.home .column h2 {
		margin-top: 4%;
	}
}

/* iPhone 4s portrait specific overrides */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

	.home .column h2 {
		font-size: 180%;
	}

	.home main .column p {
		padding-bottom: .3rem;
		font-size: .8rem;
	}
}

/* iPad Portrait Specific */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

	.home .main-header {
		position: relative;
		top: 0;
		left: 0;
		z-index: 999;
	}

	.home main .page {
		top: 105px;
		bottom: 0;
		height: 100%;
	}

	.home .home-panels section.row .column {
		min-height: calc(95vh - 96px) !important;
	}

	.main-header-sitename .sup-header .sup-header-default {
		font-size: 1.6em;
		line-height: 1.6;
	}

	.home main .column.active-panel {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		height: 100%;
	}

	.home main .column:hover p a {
		visibility: hidden;
		opacity: 0;
	}

	.home main .column.active-panel:hover p a {
		visibility: visible;
		opacity: 1;
	}
}

/* iPad Landscape Specific */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

	.home .main-header {
		position: relative;
		top: 0;
		left: 0;
		z-index: 999;
	}

	.home .main-header,
	.main-header sup:not(.unset) {
		height: 40px;
	}

	.home .home-panels section.row .column {
		min-height: calc(95vh - 10px) !important;
	}

	.home .column h2 {
		padding-top: 40%;
	}

	.home main .page {
		position: fixed;
		top: 0;
		bottom: 0;
		height: 100%;
	}

	.home main .column.active-panel:after {
		display: none;
		content: "";
	}
}
